body{
  background-color: #004466;
  padding:0;
  margin:0;
  height:100vh;
  width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;
}

.backg{
  position:relative;
  height:500px;
  width:500px;
  border-radius:50%;
  background-color:rgba(0,0,0,0.1);
  transform:scale(0.7);
  }

  .planet{
    height:200px;
    width:200px;
    border-radius: 50%;
    position: relative;
    background-color: #ff9933;
    top:45px;
    left:220px;
  }

  .r1{
    background-color: #ffbf80;
    height:20px;
    width:110px;
    border-radius:10px;
    position: relative;
    top:60px;
    left:85px;
  }
  
  .r2{
    background-color: #ffbf80;
    height: 15px;
    width:90px;
    border-radius:6.5px;
    position: relative;
    top:80px;
    left:110px;
  }

  .r3{
    background-color: #ffbf80;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    position: relative;
    top: 78px;
    left: 50px;
  }

  .r4{
    background-color: #ffbf80;
    height:22px;
    width:90px;
    border-radius:11px;
    position: relative;
    top:70px;
    left:12px;
  }
  
  .r5{
    background-color: rgba(204,102,0,0.3);
    height: 15px;
    width: 40px;
    border-radius: 7.5px;
    position: relative;
    bottom: 50px;
    left: 70px;
  }
  
  .r6{
    background-color: rgba(204, 102, 0, 0.3);
    height: 20px;
    width: 60px;
    border-radius: 11px;
    position: relative;
    bottom: 25px;
    left: 10px;
  }

  .r7{
    background-color: rgba(204, 102, 0, 0.3);
    height: 15px;
    width: 45px;
    border-radius: 7.5px;
    position: relative;
    top: 40px;
    left: 130px
  }

  .r8{
    background-color: rgba(255,255, 255, 0.4);
    height: 12px;
    width: 30px;
    border-radius: 7.5px;
    position: relative;
    top: 7px;
    left: 32px
  }

  .shad{
background-color: transparent;
box-shadow: 15px 15px rgba(204,102,0,0.3);
position: relative;
height: 200px;
width: 200px;
border-radius: 50%;
bottom: 164px;
right: 16px;
  }

  .astro{
    position: relative;
    left: 131px;
    bottom: 250px;
    transform: rotate(-30deg);
  }

  .an{
    animation-name: flo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 80px;
    left: 20px;
  }

  @keyframes flo{
    50%{
transform: translateY(30px);
    }
  }

  .tank{
    background-color: #a6a6a6;
    height:120px;
    width:120px;
    border-radius: 10px;
    position: relative;
    left:95px;
    top:50px;
    transform: rotate(-30deg);
  }
  
  .helmet{
    background-color: white;
    height:93px;
    width:100px;
    border-radius:45%;
    position: relative;
    left:20px;
    z-index: 5;
  }
  
  .glass{
    background-color: #666666;
    height:60px;
    width:80px;
    border-top-left-radius:60%;
    border-top-right-radius:60%;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    position: relative;
    left:10px;
    top:7px;
  }
  
  .shine{
    background-color: rgba(166, 166, 166,0.7);
    height:15px;
    width:15px;
    border-radius: 50%;
    position: relative;
    left:10px;
    top:15px;
  }
  
  .dress{
    background-color:#f2f2f2;
    height:100px;
    width: 100px;
    border-radius: 10%; 
    position: relative;
    bottom:5px;
    left:20px;
  
  }
  
  .handr{
    height: 26px;
    width: 75px;
    background-color: #f2f2f2;
    border-radius: 40px;
    position: relative;
    bottom: 138px;
    left: 95px;
    transform: rotate(-20deg);
  }

  .handl{
    height: 26px;
    width: 75px;
    background-color: #f2f2f2;
    border-radius: 40px;
    position: relative;
    bottom: 111px;
    right: 29px;
    transform: rotate(20deg);
  }

  .handr1{
    height: 26px;
    width: 57px;
    background-color: #f2f2f2;
    border-radius: 26px;
    position: relative;
  }